
label {
	line-height: 2.0;
	font-weight: bold;
	width: 100px;
	display: inline-block;
}

input {
padding: 5px; 
border-radius: 5px;
}

input[type="text" i], input[type="password" i] {
	width: 115px;
}

input[type="submit" i] {
	cursor: pointer;
	padding: 7px 10px;
	font-weight: bold;
    background: #0075ff;
    margin-top: 15px;
    color: white;
    border: 1px solid #0075ff;
}

select {
padding: 5px; 
border-radius: 5px;
}

.normal {
border: 1px solid #ccc;
}

.done {
border: 1px solid green;
}

.false {
border: 1px solid red;
}

