@charset "UTF-8";

table {
	width: 100%;
	display: table;
	border-spacing: 0px;
}

table td {
	padding: 5px 10px;
	border: 0.5px solid #ccc;
	background-color: white;
}

table th {
	border-radius: 10px 10px 0px 0px;
	padding: 5px 10px;
	border: 0.5px solid white;
	background-color: #ccc;
}